Require country code to be upper-case letters

It is common practice to express country code with upper-case letter, and language code for lower-case letter.
However, in our understanding, there is some ambiguity for whether use of upper-case letter for country code is required in current BRs.
We believe it is clearer to explicitly state to use upper-case letter for subject:countryName in BRs (for example, section 7.1.2.7.4 or 7.1.4.2).

General speaking, currently, we are not (directory or indirectly) referencing most previous revision for some of standards,
and dependencies between those documents are sometime not clear.
I believe it would be much clearer if we explicitly state requirement like that.
 
# related information
## Current description in BRs

In 7.1.2.7.4 Organization Validated, 
“The two-letter ISO 3166-1 country code for the country associated with the Subject.”
 
In 7.1.4.2 Subject Attribute Encoding,
“Encoding Requirements" for "countryName" is "MUST use PrintableString".
 
## ISO3166-1
There are several versions of ISO 3166-1.
In our understanding, just requiring 3166-1 country code does not imply requiring use of upper-case letters.
 
ISO3166-1:2020(newest one)has following sections
~~~
5 Principles for assigning code elements
5.1 Code Element Formation
5.3 Construction of the alpha-2 code
~~~
Section 5.1 of ISO3166-1:2020(newest one), states that code element formation shall be consist of "LATIN CAPITAL LETTER A through LATIN CAPITAL LETTER Z". We believe there are two ways of interpretation here. One way is it is expressing format of assigning code element (from title of section 5) but not expressing general format of code element. Another way is it is expressing general format of code element.
In latter interpretation, use of lower-case letter in country code would be violation of ISO3166-1:2020.
 
Section 5.1 of ISO3166-1:2006 (which was not available as is, but Japanese translation, JIS X 0304:2011 is available on public, and we checked that one) does not mention such usage on 5.1. Although both the 2020 and 2006 editions have descriptions in Section 5.3 on how to "Construct", description is only for construction of Code. Only the 2020 edition mentions about capital letters when forming it.
 
## X.520 (08/2005), which is referred by RFC5280
 
5.2.1 stats following, and 5.3.1 do not re-define that.
 
~~~
5.2.1 Name 
The Name attribute type is the attribute supertype from which string attribute types
typically used for naming may be formed.

name ATTRIBUTE ::= {
WITH SYNTAX    DirectoryString {ub-name}
EQUALITY MATCHING RULE    caseIgnoreMatch
SUBSTRINGS MATCHING RULE    caseIgnoreSubstringsMatch
ID    id-at-name }
~~~ 

~~~
5.3.1 Country Name
The Country Name attribute type specifies a country. When used as a component of a directory name, 
it identifies the country in which the named object is physically located or with which it is associated in
some other important way.
An attribute value for country name is a string chosen from ISO 3166.

countryName ATTRIBUTE ::= {
SUBTYPE OF  name
WITH SYNTAX   CountryName
SINGLE VALUE   TRUE
ID   id-at-countryName }

CountryName ::= PrintableString (SIZE(2)) -- ISO 3166 codes only
~~~
 
FYI, ISO 3166 sprit into 3166-1, 3166-2, and 3166-3 in 1997.

### X.520 (10/19), which is newest one and published in 2019 (for reference)

~~~
6.3.1 Country Name
 
A value of the countryName attribute type specifies a country. When used as a component of a directory name,
it identifies the country in which the named object is physically located or with which it is associated in
some other important way.
An attribute value for country name is a string chosen from ISO 3166-1 alpha-2.
 
countryName ATTRIBUTE ::= {
SUBTYPE OF    name
WITH SYNTAX    CountryName
SINGLE VALUE    TRUE
LDAP-SYNTAX    countryString.&id
LDAP-NAME    {"c"}
ID    id-at-countryName
}
 
CountryName ::= PrintableString(SIZE (2)) (CONSTRAINED BY { -- ISO 3166 alpha-2 codes only -- })
~~~